{% extends "quizzes/base.html" %}
{% block content %}

    <h1> Welcome to Quiz Builder! </h1>
    <br>
    {% if user.is_authenticated %}

        <h4>User quiz sessions (latest): </h4>

            {% if sessions %}

                {% for session in sessions %}
                    <div>Quiz: {{session.quiz}},
                        Score: {{session.score}} </div>
                {% endfor %}

            {% else %}
                <p>No recorded quizzes. Please choose below.</p>
            {% endif %}
            <br>

        <h4> Choose your quiz (oldest to latest):</h4>

            {% if quiz_list %}

                {% for quiz in quiz_list %}
                    <li><a href="{% url 'quiz_form' quiz.pk %}"> {{ quiz.title }}</a></li>
                {% endfor %}

            {% else %}
                <p>No quiz is available.</p>
            {% endif %}

    {% else %}

        <h4> Available quiz (oldest to latest):</h4>

            {% if quiz_list %}

                {% for quiz in quiz_list %}
                    <li>{{ quiz.title }}, {{quiz.created_date}} </li>
                {% endfor %}

            {% else %}
                <p>No quiz is available.</p>
            {% endif %}

    {% endif %}

{% endblock content %}