{% extends 'quizzes/base.html' %}
{% block content %}

{% if user.is_authenticated %}

<div class="container">

    <h2>{{quiz.title}}</h2><br>

    <form action="{% url 'results' %}" method='POST'>
        {% csrf_token %}
        <input type="hidden" name="quiz_title" value="{{quiz.title}}">
        {% for question in questions_list%}
        <p>
        <h4>{{ question.question_text }}</h4>
        </p>
        {% for answer in question.choice_set.all %}
        <label>
            <input type="radio" name="{{question.question_text}}" id="choice{{forloop.counter}}"
                   value="{{ answer.label }}"> {{ answer.label }}
        </label>
        <br>
        {% endfor %}
        {% endfor %}
        <a href="{%url 'results'%}"><input type="submit"></a>
    </form>

</div>

{% else %}

<h5>Please <a href="{% url 'login' %}">log in</a>.</h5>
<h5>If you do not have an account, <a href="{% url 'register' %}">register here</a>.</h5>

{% endif %}

{% endblock content %}