{% extends "quizzes/base.html" %}
{% block content %}
<h1>End of Quiz!</h1>
<br>
{% if user.is_authenticated %}
    <h4>Your score for {{quiz_chosen}}: {{score}} out of {{total}} ({{percent}}%).<br>
    <br>Check your answers below. Click <a href="{% url 'quizzes-home' %}">here </a> to take more quizzes.</h4>
    <br>
    <div class="container">
        {% for question in questions_list%}
        <h6>Question: {{question}}</h6>
            {% for indicator in indicators %}
                {% if forloop.counter == forloop.parentloop.counter %}
                    {% for answer in question.choice_set.all %}
                        <li>{{answer}}</li>
                    {% endfor %}
                    <br>
                    {{indicator}}<br><br>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
{% else %}

<h5>Please <a href="{% url 'login' %}">log in</a>.</h5>
<h5>If you do not have an account, <a href="{% url 'register' %}">register here</a>.</h5>

{% endif %}

{% endblock content %}